<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/shop.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <!-------------------------------- Nav bar -------------------------------------->

      <nav class="navBox">
        <div class="topGreenBar">
          <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
          <div class="topGreenBar-btnDiv">
            <button>Sign In</button> /
            <button>Register</button>
          </div>
        </div>
        <div class="subNavBar">
          <div class="navimgbox">
            <img src="/images/logo.png" alt="logo" />
            <h5 class="brandName">NAFSCARE</h5>
          </div>
          <div class="navLiBox">
            <ul>
              <li>
                <span style="color: #9ee281"><a href="/">HOME</a></span>
              </li>
              <li><a href="/shop">SHOP</a></li>
              <li>HAIR</li>
              <li>FACE</li>
              <li>BODY</li>
              <li>STORES</li>
            </ul>
          </div>
          <div class="navCartDiv">
            <div class="navCartDiv-searchDiv">
              <input type="search" placeholder="" />
              <label for=""><img src="/images/searchIcon.png" alt="" /></label>
            </div>
            <img src="/images/cartIcon.png" alt="" />
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
