<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="searchDiv">
      <form id="searchForm">
        <input
          type="text"
          id="searchInput"
          name="q"
          onchange="newf()"
          placeholder="Search products..."
        />
      </form>
      <ul id="searchResults"></ul>
    </div>

    <div class="main">
      <!-------------------------------- Nav bar -------------------------------------->

      <nav class="navBox">
        <div class="topGreenBar">
          <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
          <div class="topGreenBar-btnDiv">
            <% if (!user) { %>
            <button><a href="/auth">Sign In</a></button> /
            <button><a href="/auth">Register</a></button>
            <% } else { %> <button><a href="/logout">Logout</a></button> <% } %>
          </div>
        </div>
        <div class="subNavBar">
          <a style="text-decoration: none" href="/">
            <div class="navimgbox">
              <img src="/images/logo.png" alt="logo" />
              <h5 class="brandName">NAFSCARE</h5>
            </div></a
          >

          <div class="navLiBox">
            <ul>
              <li>
                <span
                  ><a style="text-decoration: none; color: #9ee281" href="/"
                    >HOME</a
                  ></span
                >
              </li>
              <li><a href="/shop">SHOP</a></li>
              <li><a href="/shop">FACE</a></li>
              <li><a href="/shop">BODY</a></li>
              <li><a href="/shop">STORES</a></li>
            </ul>
          </div>
          <div class="navCartDiv">
            <!-- <div class="navCartDiv-searchDiv"></div> -->
            <div>&nbsp;</div>
            <a href="/cart"
              ><img width="25px" src="/images/cartIcon.png" alt=""
            /></a>
            <a href="/account"
              ><img width="25px" src="/images/icons/myAccount.png" alt=""
            /></a>

            <div class="menuDiv">
              <i style="scale: 2" id="menuBtn" class="ri-menu-line"></i>
            </div>
          </div>
        </div>
      </nav>
      <div class="dropDownNav">
        <ul>
          <li><a style="color: #9ee281" href="/">HOME</a></li>
          <li><a href="/shop">SHOP</a></li>
          <li><a href="/account">MY ACCOUNT</a></li>
        </ul>
        <i id="closeBtn" style="scale: 1.6" class="ri-close-circle-fill"></i>
      </div>

      <!----------------- slider ------------------------------------------------------------>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="sliderdiv1 swiper-slide">
            <div class="sliderdiv1-top">
              <div class="homeContentDiv">
                <h3 class="homeBrand">Nafscare’s</h3>
                <h1 class="homeH1">Apple Cider Vinegar</h1>
                <p class="homeP">
                  Nafscare Apple Cider Vinegar gummies are the newest addition
                  to your morning health and well-being regime.
                </p>
                <button class="homeBtn"><a href="/shop">SHOP NOW</a></button>
              </div>
            </div>
            <!-- <img src="/images/model.png" alt="" /> -->
            <div class="homeWaveDiv">
              <img src="/images/homeWave.png" alt="" />
            </div>
          </div>
          <div class="sliderdiv1 swiper-slide">
            <div class="sliderdiv1-top">
              <div class="homeContentDiv">
                <h3 class="homeBrand">Nafscare’s</h3>
                <h1 class="homeH1">Apple Cider Vinegar</h1>
                <p>
                  Nafscare Apple Cider Vinegar gummies are the newest addition
                  to your morning health and well-being regime.
                </p>
                <button class="homeBtn"><a href="/shop">SHOP NOW</a></button>
              </div>
            </div>
            <!-- <img src="/images/model.png" alt="" /> -->
            <div class="homeWaveDiv">
              <img src="/images/homeWave.png" alt="" />
            </div>
          </div>
          <div class="sliderdiv1 swiper-slide">
            <div class="sliderdiv1-top">
              <div class="homeContentDiv">
                <h3 class="homeBrand">Nafscare’s</h3>
                <h1 class="homeH1">Apple Cider Vinegar</h1>
                <p>
                  Nafscare Apple Cider Vinegar gummies are the newest addition
                  to your morning health and well-being regime.
                </p>
                <button class="homeBtn"><a href="/shop">SHOP NOW</a></button>
              </div>
            </div>
            <!-- <img src="/images/model.png" alt="" /> -->
            <div class="homeWaveDiv">
              <img src="/images/homeWave.png" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>

      <!----------------- Nafcare's deals section (Section 2) Start---------------------------------------->

      <div class="dealsBox">
        <div class="dealsBox-headBox">
          <h3 class="dealsBox-headBox-heading">NAFSCARE’S DEAL</h3>
          <div class="dealsBox-headBox-greenBorder">
            <!-- <h1>-</h1> -->
          </div>
          <h6 class="dealsBox-headBox-para">
            Pick your beauty products today. 50% OFF on the most popular
            Nafscare. Order all classy <br />
            products today!
          </h6>
        </div>
        <div class="dealsBox-BottomBox">
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod1">
            <div class="dealsBoxImgDiv dealsBoxImgDiv1">
              <img src="/images/shop1.png" alt="" />
            </div>
            <h6>MULTI-VITAMIN: EVERYDAY WELLNESS</h6>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod2">
            <div class="dealsBoxImgDiv dealsBoxImgDiv2">
              <img src="/images/shop2.png" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod3">
            <div class="dealsBoxImgDiv dealsBoxImgDiv3">
              <img src="/images/shop3.png" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod4">
            <div class="dealsBoxImgDiv dealsBoxImgDiv4">
              <img src="/images/shop4.png" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
          </div>
        </div>
      </div>

      <!--------------------------------  (Section 3) Start---------------------------------------------->

      <div class="section3-mainBox">
        <div class="section3div section3-top">
          <div class="section3-top-iconDiv section3-top-iconDiv1">
            <div class="section3LogoDiv">
              <img src="/images/icons/Vector.png" alt="" />
              <div></div>
            </div>
            <h6>EASY SHIPPING</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <div class="section3-top-iconDiv section3-top-iconDiv2">
            <div class="section3LogoDiv">
              <img src="/images/icons/money.png" alt="" />
              <div></div>
            </div>
            <h6>30 DAYS GUARANTEE</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
          <div class="section3-top-iconDiv section3-top-iconDiv3">
            <div class="section3LogoDiv">
              <img
                style="width: 2.3vmax"
                src="/images/icons/secure.png"
                alt=""
              />
              <div></div>
            </div>
            <h6>SECURED PAYMENTS</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="section3div section3-bottom">
          <div class="section3-bottom-subDiv section3-bottom-contentDiv">
            <h1>
              TAKE CONTROL OF YOUR HEALTH WITH
              <span style="color: #9ee281">NAFSCARE</span>
            </h1>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus
              sit iste necessitatibus voluptatum, vero accusamus illo eum
              laudantium accusantium aperiam!
            </p>
            <a href="/shop"><button>BROWSE OUR RANGE</button></a>
          </div>
          <div class="section3-bottom-subDiv section3-bottom-imgDiv">
            <div class="section3-bottom-imgDiv-left">
              <div class="section3-bottom-imgDiv-left-1">
                <img src="/images/prod1.jpg" alt="" />
              </div>
              <div class="section3-bottom-imgDiv-left-2">
                <img src="/images/prod2.jpg" alt="" />
              </div>
            </div>
            <div class="section3-bottom-imgDiv-right">
              <img src="/images/prod3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------- nafcare's product section  (Section 4) start------------------------------>

      <div class="dealsBox">
        <div class="dealsBox-headBox">
          <h3 class="dealsBox-headBox-heading">NAFSCARE’S PRODUCTS ARE</h3>
          <div class="dealsBox-headBox-greenBorder">
            <!-- <h1>-</h1> -->
          </div>
        </div>
        <div class="dealsBox-BottomBox">
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod1">
            <div class="dealsBoxImgDiv dealsBoxImgDiv1">
              <img src="/images/prod1.jpg" alt="" />
            </div>
            <h6>MULTI-VITAMIN: EVERYDAY WELLNESS</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod2">
            <div class="dealsBoxImgDiv dealsBoxImgDiv2">
              <img src="/images/prod2.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod3">
            <div class="dealsBoxImgDiv dealsBoxImgDiv3">
              <img src="/images/prod3.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod4">
            <div class="dealsBoxImgDiv dealsBoxImgDiv4">
              <img src="/images/demo.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
        </div>
      </div>

      <!-------------------------------- Testimonial  (Section 5) start------------------------------>

      <div class="testimonialBox">
        <div class="testimonialWaveDiv">
          <img src="/images/greyWave.png" alt="" />
        </div>
        <div class="testimonial-contentBox">
          <div
            class="testimonial-contentBox-div testimonial-contentBox-content"
          >
            <h6>REAL REVIEWS</h6>
            <h5>REAL RESULTS</h5>
            <p>
              “We have perfected our formulas over time, based on your feedback.
              Check out hundreds of reviews on our website.We can't wait until
              you are a part of our Nafscare Family.”
            </p>
            <div>
              <button>&#x3C;</button>
              <button>&#x3E;</button>
            </div>
          </div>
          <div class="testimonial-contentBox-div testimonial-contentBox-img">
            <img src="/images/review.jpg" alt="" />
          </div>
        </div>
        <div class="testimonialWaveDiv">
          <img src="/images/bottomWave.png" alt="" />
        </div>
      </div>

      <!-------------------------------- Nafscare shop (Section 6) start------------------------------>
      <div class="dealsBox shopBox">
        <div class="dealsBox-headBox">
          <h3 class="dealsBox-headBox-heading">NAFSCARE’S SHOP</h3>
          <div class="dealsBox-headBox-greenBorder">
            <!-- <h1>-</h1> -->
          </div>
        </div>
        <div class="dealsBox-BottomBox">
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod1">
            <div class="dealsBoxImgDiv dealsBoxImgDiv1">
              <img src="/images/demo.jpg" alt="" />
            </div>
            <h6>MULTI-VITAMIN: EVERYDAY WELLNESS</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod2">
            <div class="dealsBoxImgDiv dealsBoxImgDiv2">
              <img src="/images/demo.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod3">
            <div class="dealsBoxImgDiv dealsBoxImgDiv3">
              <img src="/images/demo.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
          <div class="dealsBox-BottomBox-prod dealsBox-BottomBox-prod4">
            <div class="dealsBoxImgDiv dealsBoxImgDiv4">
              <img src="/images/demo.jpg" alt="" />
            </div>
            <h6>FULL RANGE VALUE PACK (SAVE 33%)</h6>
            <p class="green prodPriceSec4">3995 INR</p>
          </div>
        </div>
      </div>

      <!-- -------------------------------- Latest News -------------------------------------------- -->
      <div class="latestNewsBox">
        <div class="latestNewsBox-top">
          <h3>LATEST NEWS</h3>
        </div>
        <div class="latestNewsBox-bottom">
          <div class="latestNewsBox-bottom-div">
            <div class="latestNewsBox-imgDiv">
              <img src="/images/newsIMg1.png" alt="" />
            </div>
            <div class="latestNewsBox-contentDiv">
              <h4>WE DONATE ONE WEEKS SUPPLY</h4>
              <p>
                We care about our children, and we want to support our community
              </p>
              <button>READ MORE</button>
            </div>
          </div>
          <div class="latestNewsBox-bottom-div">
            <div class="latestNewsBox-imgDiv">
              <img src="/images/newsimg2.png" alt="" />
            </div>
            <div class="latestNewsBox-contentDiv">
              <h4>WE DONATE ONE WEEKS SUPPLY</h4>
              <p>
                We care about our children, and we want to support our community
              </p>
              <button>READ MORE</button>
            </div>
          </div>
          <div class="latestNewsBox-bottom-div">
            <div class="latestNewsBox-imgDiv">
              <img src="/images/newsimg3.png" alt="" />
            </div>
            <div class="latestNewsBox-contentDiv">
              <h4>WE DONATE ONE WEEKS SUPPLY</h4>
              <p>
                We care about our children, and we want to support our community
              </p>
              <button>READ MORE</button>
            </div>
          </div>
        </div>
      </div>

      <!-- --------------------------------- #NAFSCARE section ---------------------------------------- -->
      <div class="slider">
        <div class="slider-headBox">
          <h3>#NAFSCARE</h3>
          <div class="dealsBox-headBox-greenBorder">
            <!-- <h1>-</h1> -->
          </div>
        </div>
        <ul>
          <li>
            <img src="/images/insta.png" alt="" />
          </li>
          <li>
            <img src="/images/insta2.png" alt="" />
          </li>
          <li>
            <!-- <img src="/images/insta3.png" alt="" /> -->
          </li>
          <li>
            <img src="/images/insta4.png" alt="" />
          </li>
          <li>
            <img src="/images/insta.png" alt="" />
          </li>
          <li>
            <img src="/images/insta2.png" alt="" />
          </li>
          <li>
            <!-- <img src="/images/insta3.png" alt="" /> -->
          </li>
          <li>
            <img src="/images/insta4.png" alt="" />
          </li>
          <li>
            <img src="/images/insta.png" alt="" />
          </li>
          <li>
            <img src="/images/insta2.png" alt="" />
          </li>
          <li>
            <!-- <img src="/images/insta3.png" alt="" /> -->
          </li>
          <li>
            <img src="/images/insta4.png" alt="" />
          </li>
          <li>
            <img src="/images/insta.png" alt="" />
          </li>
          <li>
            <img src="/images/insta2.png" alt="" />
          </li>
          <li>
            <img src="/images/insta3.png" alt="" />
          </li>
        </ul>
      </div>

      <!--------------------------------------Footer --------------------------------------  -->
      <!-- Site footer -->
      <div class="footerBox">
        <div class="footerWave">
          <img src="/images/footerwave.png" alt="" />
        </div>
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img class="Footerlogo" src="/images/logo.png" alt="" />
                <h6>About</h6>
                <p class="text-justify">
                  At Nafscare, we believe that beauty should be accessible to
                  everyone. That's why we strive to offer competitive prices
                  without compromising on quality. Whether you're looking for
                  your favorite beauty brands or exploring new trends, we've got
                  you covered.
                </p>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li>
                    <a href="#">care</a>
                  </li>
                  <li>
                    <a href="#">face</a>
                  </li>
                  <li>
                    <a href="#">body</a>
                  </li>
                  <li>
                    <a href="#">hair</a>
                  </li>
                  <li>
                    <a href="#">Products</a>
                  </li>
                  <li>
                    <a href="">skin</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li>
                    <a href="http://scanfcode.com/contact/">Contact Us</a>
                  </li>
                  <li>
                    <a href="http://scanfcode.com/contribute-at-scanfcode/"
                      >Contribute</a
                    >
                  </li>
                  <li>
                    <a href="http://scanfcode.com/privacy-policy/"
                      >Privacy Policy</a
                    >
                  </li>
                  <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                  Copyright &copy; 2024 All Rights Reserved by
                  <a href="#">Nafscare</a>. <br />
                  Designed by RANDOM FOREST TECHNOLOGY
                </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li>
                    <a class="facebook" href="#"
                      ><i class="ri-facebook-circle-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"
                      ><i class="ri-twitter-x-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"
                      ><i class="ri-dribbble-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"
                      ><i class="ri-linkedin-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer src="/javascripts/script.js"></script>
    <script>
      // function newf(event) {
      //   //  event.preventDefault()
      //   var news = document.getElementById("searchInput").value;
      //   const searchTerm = news.trim();

      //   fetch(`/search/${searchTerm}`)
      //     .then((response) => response.json())
      //     .then((data) => {
      //       // Clear previous results
      //       searchResults.innerHTML = "";

      //       // Display search results
      //       data.forEach((product) => {
      //         const productElement = document.createElement("div");
      //         productElement.textContent = product.name;
      //         searchResults.appendChild(productElement);
      //       });
      //     });
      //   //.catch((error) => console.error("Error:", error));
      // }
      function newf(event) {
        var news = document.getElementById("searchInput").value;
        const searchTerm = news.trim();
        const searchResults = document.getElementById("searchResults");

        // Clear previous results
        searchResults.innerHTML = "";

        if (searchTerm === "") {
          const defaultAnchorElement = document.createElement("a");
          defaultAnchorElement.textContent = "";
          searchResults.appendChild(defaultAnchorElement);
        } else {
          fetch(`/search/${searchTerm}`)
            .then((response) => response.json())
            .then((data) => {
              // Display search results
              data.forEach((product) => {
                const anchorElement = document.createElement("a");
                anchorElement.href = "/product/" + product.id; // Set the href attribute

                const listItem = document.createElement("li");
                listItem.textContent = product.name;

                anchorElement.appendChild(listItem); // Append list item to anchor element
                searchResults.appendChild(anchorElement);
              });
            })
            .catch((error) => console.error("Error:", error));
        }
      }

      document.getElementById("searchInput").addEventListener("input", newf);
    </script>
  </body>
</html>
