<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <!-------------------------------- Nav bar -------------------------------------->

      <nav class="navBox">
        <div class="topGreenBar">
          <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
          <div class="topGreenBar-btnDiv">
            <button>Sign In</button> /
            <button>Register</button>
          </div>
        </div>
        <div class="subNavBar">
          <div class="navimgbox">
            <img src="/images/logo.png" alt="logo" />
            <h5 class="brandName">NAFSCARE</h5>
          </div>
          <div class="navLiBox">
            <ul>
              <li><span style="color: #9ee281">HOME</span></li>
              <li>BEAUTY</li>
              <li>HAIR</li>
              <li>FACE</li>
              <li>BODY</li>
              <li>STORES</li>
            </ul>
          </div>
          <div class="navCartDiv">
            <div class="navCartDiv-searchDiv">
              <input type="search" placeholder="" />
              <label for=""><img src="/images/searchIcon.png" alt="" /></label>
            </div>
            <img src="/images/cartIcon.png" alt="" />
          </div>
        </div>
      </nav>

      <!-- ------------------------------- checkout page start------------------------------ -->
      <div class="myAccountMainBox">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, 'London')">
            MY ORDERS
          </button>
          <button class="tablinks" onclick="openCity(event, 'Paris')">
            ADDRESS
          </button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
            ACCOUNT DETAILS
          </button>
          <button class="tablinks" onclick="openCity(event, 'Tokyo')">
            LOGOUT
          </button>
        </div>

        <div style="display: initial" id="London" class="tabcontent">
          <h6 class="orderHead">
            <a href="/">Home</a> > <a href="/account">My Account > </a> Your
            Orders
          </h6>
          <div class="orderTab">
            <div class="productNameDiv">
              <div class="accountProdImg-div">
                <img class="accountProdImg" src="/images/prod1.jpg" alt="" />
              </div>

              <h6>
                Product
                <span style="color: #9ee281"
                  >&nbsp;
                  <a style="color: #9ee281" href=""
                    >MULTI-VITAMIN: EVERYDAY WELLNESS</a
                  ></span
                >
              </h6>
              &nbsp;&nbsp;&nbsp;
            </div>
            <div
              class="subOrderTab"
              style="
                display: flex;
                justify-content: space-around;
                align-items: center;
              "
            >
              <div>
                <h6>Order Id</h6>
                <span style="color: #9ee281">01</span> &nbsp;&nbsp;&nbsp;
              </div>
              <div>
                <h6>Invoice No</h6>
                <span style="color: #9ee281">01</span>&nbsp;&nbsp;&nbsp;
              </div>
              <div>
                <h6>Quantity</h6>
                <span style="color: #9ee281">01</span>&nbsp;&nbsp;&nbsp;
              </div>
              <div>
                <h6>Order Date</h6>
                <span style="color: #9ee281">01/01/24</span>&nbsp;&nbsp;&nbsp;
              </div>
              <div>
                <h6>Status</h6>
                <span style="color: #9ee281">COD</span> &nbsp;&nbsp;&nbsp;
              </div>
              <div>
                <h6>Amount</h6>
                <span style="color: #9ee281">1000/-</span>&nbsp;&nbsp;&nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Paris" class="tabcontent addressBox">
        <h6 class="orderHead">
          <a href="/">Home</a> > <a href="/account">My Account > </a>
          Address
        </h6>
        <div style="height: 30vmax" class="addressTab">
          <div class="productNameDiv">
            <h6>USERNAME</h6>
            <span style="color: #9ee281"
              >&nbsp;<br />94 , new hcf qtrs , Tata chemicals township mithapur
              Mithapur, Gujarat 361345</span
            >&nbsp;&nbsp;&nbsp;
          </div>
          <h6 style="margin-left: 4.5vmax; margin-top: 1vmax">
            Mobile: <span style="color: #9ee281">9789733133</span>
          </h6>

          <div class="updateFormBox">
            <form class="updateForm" action="">
              <input
                class="addForm1"
                style="width: 100%"
                type="text"
                placeholder="Update Address"
              />
              <div>
                <input type="text" placeholder="Contact" />

                <input type="text" placeholder="City" />
                <input type="text" placeholder="State" />
                <input type="text" placeholder="Zip Code" />
              </div>
              <button style="padding: 0.5vmax" class="">Save</button>
            </form>
          </div>
        </div>
      </div>

      <div id="Tokyo" class="tabcontent accountBox">
        <h6 class="orderHead">
          <a href="/">Home</a> > <a href="/account">My Account > </a>
          Account Details
        </h6>
        <div style="display: flex" class="accDetBox">
          <div>
            <form class="updateForm" action="">
              <input
                style="width: 30vmax"
                type="text"
                placeholder="Full Name"
              />
              <div>
                <input style="width: 30vmax" type="email" placeholder="email" />
              </div>
              <button style="padding: 0.3vmax" class="">Save Changes</button>
            </form>
          </div>
          <div>
            <form class="updateForm" action="">
              <input
                style="width: 30vmax"
                type="text"
                placeholder="Current Password"
              />
              <div style="display: flex">
                <input
                  style="width: 14.5vmax"
                  type="email"
                  placeholder="New Password"
                />
                <input
                  style="width: 14.5vmax; margin-left: 0.9vmax"
                  type="email"
                  placeholder="Confirm Password"
                />
              </div>
              <button style="padding: 0.3vmax" class="">Save Changes</button>
            </form>
          </div>
        </div>
      </div>

      <!--------------------------------------Footer --------------------------------------  -->
      <!-- Site footer -->
      <div class="footerBox">
        <div class="footerWave">
          <img src="/images/footerwave.png" alt="" />
        </div>
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img class="Footerlogo" src="/images/logo.png" alt="" />
                <h6>About</h6>
                <p class="text-justify">
                  At Nafscare, we believe that beauty should be accessible to
                  everyone. That's why we strive to offer competitive prices
                  without compromising on quality. Whether you're looking for
                  your favorite beauty brands or exploring new trends, we've got
                  you covered.
                </p>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li>
                    <a href="#">care</a>
                  </li>
                  <li>
                    <a href="#">face</a>
                  </li>
                  <li>
                    <a href="#">body</a>
                  </li>
                  <li>
                    <a href="#">hair</a>
                  </li>
                  <li>
                    <a href="#">Products</a>
                  </li>
                  <li>
                    <a href="">skin</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li>
                    <a href="http://scanfcode.com/contact/">Contact Us</a>
                  </li>
                  <li>
                    <a href="http://scanfcode.com/contribute-at-scanfcode/"
                      >Contribute</a
                    >
                  </li>
                  <li>
                    <a href="http://scanfcode.com/privacy-policy/"
                      >Privacy Policy</a
                    >
                  </li>
                  <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                  Copyright &copy; 2024 All Rights Reserved by
                  <a href="#">Nafscare</a>. <br />
                  Designed by RANDOM FOREST TECHNOLOGY
                </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li>
                    <a class="facebook" href="#"
                      ><i class="ri-facebook-circle-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"
                      ><i class="ri-twitter-x-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"
                      ><i class="ri-dribbble-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"
                      ><i class="ri-linkedin-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
