<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>

    <link rel="stylesheet" href="/stylesheets/product.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="k_product">
      <!-- left-box -->
      <div class="p-left-box">
        <section id="gallery">
          <div class="container">
            <div id="image-gallery">
              <div class="row">
                <div class="image">
                  <div class="img-wrapper">
                    <a href="/images/chimney.webp"
                      ><img src="/images/chimney.webp" class="img-responsive"
                    /></a>
                    <div class="img-overlay">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="image">
                  <div class="img-wrapper">
                    <a href="/images/image2.jpg"
                      ><img src="/images/image2.jpg" class="img-responsive"
                    /></a>
                    <div class="img-overlay">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End row -->
            </div>
            <!-- End image gallery -->
          </div>
          <!-- End container -->
        </section>
      </div>
      <!-- right-box -->
      <div class="p-right-box">
        <!-- title-box -->
        <div class="title-box">
          <h2>Door Handle Bar</h2>
          <h3>Boys Yellow Cotton T-shirt</h3>
          <div class="rating-box">
            <div class="rb-left">
              <h5>
                5.6
                <i class="ri-star-s-fill"></i>
              </h5>
            </div>
            <div class="rb-right">
              <p>29 Ratings</p>
            </div>
          </div>
        </div>
        <!-- price-box -->
        <div class="price-box">
          <div class="mrp-price">
            <h3>$ 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>

          <h5>inclusive of all taxes</h5>

          <div class="select-size">
            <h4>SELECT SIZE (Age Group)</h4>
            <a href="">SIZE CHART <i class="ri-arrow-right-s-line"></i> </a>
          </div>
          <div class="size-box">
            <label>
              <input type="radio" name="size" value="4-5Y" hidden />
              <div class="size-circle">4-5Y</div>
            </label>
            <label>
              <input type="radio" name="size" value="4-5Y" hidden />
              <div class="size-circle">5-7Y</div>
            </label>
            <label>
              <input type="radio" name="size" value="4-5Y" hidden />
              <div class="size-circle">7-10Y</div>
            </label>
            <label>
              <input type="radio" name="size" value="4-5Y" hidden />
              <div class="size-circle">10-15Y</div>
            </label>
            <label>
              <input type="radio" name="size" value="4-5Y" hidden />
              <div class="size-circle">15-18Y</div>
            </label>
          </div>
          <div class="payment-box">
            <a class="pyt-btn" href="">
              <i class="ri-shopping-bag-line"></i>
              <h4>Add Cart</h4>
            </a>

            <a class="pyt-btn" href="">
              <h4>Pay Now</h4>
            </a>
          </div>
        </div>

        <!-- 4 line text -->
        <div class="text">
          <h5>100% Original Products</h5>
          <h5>Pay on delivery might be available</h5>
          <h5>Easy 14 days returns and exchanges</h5>
          <h5>Try & Buy might be available</h5>
        </div>
        <div class="product-details">
          <h4>PRODUCT DETAILS</h4>
          <h5>Yellow T-shirt for boys</h5>
          <h5>Solid</h5>
          <h5>Regular length</h5>
          <h5>Round neck</h5>
          <h5>Short, regular sleeves</h5>
          <h5>Knitted cotton fabric</h5>
        </div>
        <div class="product-details">
          <h4>Size & Fit</h4>
          <h5>Regular Fits</h5>
        </div>
        <div class="product-details">
          <h4>Material & Care</h4>
          <h5>Cotton</h5>
          <h5>Machine wash</h5>
        </div>

        <!-- star rating  -->
        <div class="star-rating">
          <div class="rating-hadline">
            <h4>RATINGS</h4>
            <i class="ri-star-s-fill"></i>
            <i class="ri-star-half-fill"></i>
          </div>
          <div class="buyers-rating">
            <div class="buyers-left">
              <h1>
                5.6
                <i class="ri-star-s-fill"></i>
              </h1>
              <p>29 verified buyers</p>
            </div>
            <div class="buyers-right">
              <div class="rating-line">
                <p>5 <i class="ri-star-s-fill"></i></p>
                <div class="line"></div>
                <p>21</p>
              </div>
              <div class="rating-line">
                <p>4 <i class="ri-star-s-fill"></i></p>
                <div class="line2"></div>
                <p>21</p>
              </div>
              <div class="rating-line">
                <p>3 <i class="ri-star-s-fill"></i></p>
                <div class="line3"></div>
                <p>21</p>
              </div>
              <div class="rating-line">
                <p>2 <i class="ri-star-s-fill"></i></p>
                <div class="line4"></div>
                <p>21</p>
              </div>
              <div class="rating-line">
                <p>1 <i class="ri-star-s-fill"></i></p>
                <div class="line5"></div>
                <p>21</p>
              </div>
            </div>
          </div>
        </div>

        <!-- customer reviews -->
        <div class="customer-rev">
          <h4>Customer Reviews (3)</h4>
          <div class="customer-box">
            <div class="cr-star">
              <div class="star-5">
                <h6>5</h6>
                <i class="ri-star-s-fill"></i>
              </div>
              <p>Nice work</p>
            </div>
            <div class="cr-date">
              <p>Rajesh Prashad</p>
              <p>28-3-1990</p>

              <div class="thumb">
                <i class="ri-thumb-up-line"> 0</i>
                <i class="ri-thumb-down-line">0</i>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Code -->
        <div class="product-code">
          <h4><span class="product-text">Product Code:</span> 12345268</h4>
        </div>
      </div>
    </div>

    <!-- _____item-box html code________ -->
    <div class="item-box">
      <div class="item">
        <div class="img">
          <img src="./images/chimney.webp" alt="" />
        </div>
        <div class="img-text">
          <h3>kids wear tup</h3>
          <p>the is the riht place to</p>
          <div class="mrp-price">
            <h3>Rs 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img src="./images/chimney.webp" alt="" />
        </div>
        <div class="img-text">
          <h3>kids wear tup</h3>
          <p>the is the riht place to</p>
          <div class="mrp-price">
            <h3>Rs 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img src="./images/chimney.webp" alt="" />
        </div>
        <div class="img-text">
          <h3>kids wear tup</h3>
          <p>the is the riht place to</p>
          <div class="mrp-price">
            <h3>Rs 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <img src="./images/chimney.webp" alt="" />
        </div>
        <div class="img-text">
          <h3>kids wear tup</h3>
          <p>the is the riht place to</p>
          <div class="mrp-price">
            <h3>Rs 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="img">
          <img src="./images/chimney.webp" alt="" />
        </div>
        <div class="img-text">
          <h3>kids wear tup</h3>
          <p>the is the riht place to</p>
          <div class="mrp-price">
            <h3>Rs 170</h3>
            <h4>MRP <span class="mrp">$ 500</span></h4>
            <h3 class="off">(Rs. 499 OFF)</h3>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/product.js"></script>
  </body>
</html>
