<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="searchDiv">
      <form id="searchForm">
        <input
          type="text"
          id="searchInput"
          name="q"
          onchange="newf()"
          placeholder="Search products..."
        />
      </form>
      <div id="searchResults"></div>
    </div>

    <div class="main">
      <!-------------------------------- Nav bar -------------------------------------->

      <nav class="navBox">
        <div class="topGreenBar">
          <p>Afterpay, Laybuy & Genoapay | Free Delivery*</p>
          <div class="topGreenBar-btnDiv">
            <% if (!user) { %>
            <button><a href="/auth">Sign In</a></button> /
            <button><a href="/auth">Register</a></button>
            <% } else { %> <button><a href="/logout">Logout</a></button> <% } %>
          </div>
        </div>
        <div class="subNavBar">
          <div class="navimgbox">
            <img src="/images/logo.png" alt="logo" />
            <h5 class="brandName">NAFSCARE</h5>
          </div>
          <div class="navLiBox">
            <ul>
              <li><span style="color: #9ee281">HOME</span></li>
              <li><a href="/shop">SHOP</a></li>
              <li><a href="/shop">FACE</a></li>
              <li><a href="/shop">BODY</a></li>
              <li><a href="/shop">STORES</a></li>
            </ul>
          </div>
          <div class="navCartDiv">
            <!-- <div class="navCartDiv-searchDiv"></div> -->
            <a href="/cart"> <img src="/images/cartIcon.png" alt="" /></a>
            <a href="/account"
              ><img width="25px" src="/images/icons/myAccount.png" alt=""
            /></a>
            <div class="menuDiv">
              <i style="scale: 2" id="menuBtn" class="ri-menu-line"></i>
            </div>
          </div>
        </div>
      </nav>
      <div class="dropDownNav">
        <ul>
          <li><a style="color: #9ee281" href="/home">HOME</a></li>
          <li><a href="/home">SHOP</a></li>
          <li><a href="/home">MY ACCOUNT</a></li>
        </ul>
        <i id="closeBtn" style="scale: 1.6" class="ri-close-circle-fill"></i>
      </div>

      <!-------------------------------- Shop content -------------------------------------->

      <div class="shopBox">
        <div class="shop-top">
          <h6 class="filterHead">Filters</h6>

          <h6>
            <a style="text-decoration: none; color: gray" href="/">HOME </a> >
            Shop All <span style="color: #9ee281">5154 Items</span>
          </h6>
          <div></div>
        </div>

        <div class="shopContent">
          <!-- filter-box -->
          <div class="filters">
            <!---------------------- price-box filter start here---------------- -->
            <div class="priceBoxFilter">
              <h6>Price</h6>
              <ul>
                <li>
                  <span>Rs 499 - Rs 9999</span>
                  <input type="range" name="" id="" />
                </li>
              </ul>
            </div>
            <!---------------------- price-box filter end here---------------- -->

            <!------------------ category links start here------------------------->
            <div class="scrollFilterBox cat">
              <h6>CATEGORY</h6>
              <div class="box-selector"></div>
            </div>

            <!------------------category-links end here---------------------------->

            <!------------------ sub-category links start here--------------------->
            <div class="scrollFilterBox subcat">
              <h6>SUB-CATEGORY</h6>
              <div class="box-selector"></div>
            </div>
            <!-- ----------------sub-category links end here----------------------->
          </div>
          <!-- filter-box -->

          <div class="item-content"><%- include('product_partial.ejs') -%></div>
        </div>
      </div>
      <!--------------------------------------Footer --------------------------------------  -->
      <!-- Site footer -->
      <div class="footerBox">
        <div class="footerWave">
          <img src="/images/footerwave.png" alt="" />
        </div>
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <img class="Footerlogo" src="/images/logo.png" alt="" />
                <h6>About</h6>
                <p class="text-justify">
                  At Nafscare, we believe that beauty should be accessible to
                  everyone. That's why we strive to offer competitive prices
                  without compromising on quality. Whether you're looking for
                  your favorite beauty brands or exploring new trends, we've got
                  you covered.
                </p>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                  <li>
                    <a href="#">care</a>
                  </li>
                  <li>
                    <a href="#">face</a>
                  </li>
                  <li>
                    <a href="#">body</a>
                  </li>
                  <li>
                    <a href="#">hair</a>
                  </li>
                  <li>
                    <a href="#">Products</a>
                  </li>
                  <li>
                    <a href="">skin</a>
                  </li>
                </ul>
              </div>

              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                  <li><a href="http://scanfcode.com/about/">About Us</a></li>
                  <li>
                    <a href="http://scanfcode.com/contact/">Contact Us</a>
                  </li>
                  <li>
                    <a href="http://scanfcode.com/contribute-at-scanfcode/"
                      >Contribute</a
                    >
                  </li>
                  <li>
                    <a href="http://scanfcode.com/privacy-policy/"
                      >Privacy Policy</a
                    >
                  </li>
                  <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                  Copyright &copy; 2024 All Rights Reserved by
                  <a href="#">Nafscare</a>. <br />
                  Designed by RANDOM FOREST TECHNOLOGY
                </p>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                  <li>
                    <a class="facebook" href="#"
                      ><i class="ri-facebook-circle-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"
                      ><i class="ri-twitter-x-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="dribbble" href="#"
                      ><i class="ri-dribbble-line"></i
                    ></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"
                      ><i class="ri-linkedin-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/shop.js"></script>

    <script>
      function newf(event) {
        //  event.preventDefault()
        var news = document.getElementById("searchInput").value;
        const searchTerm = news.trim();

        fetch(`/search/${searchTerm}`)
          .then((response) => response.json())
          .then((data) => {
            // Clear previous results
            searchResults.innerHTML = "";

            // Display search results
            data.forEach((product) => {
              const productElement = document.createElement("div");
              productElement.textContent = product.name;
              searchResults.appendChild(productElement);
            });
          });
        //.catch((error) => console.error("Error:", error));
      }
    </script>
  </body>
</html>
